* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-main {
    border-radius: 10px;
    height: 91.5vh;
}

/* Alumno */
.row-alumno {
    border-radius: 10px;
}

.btn-alumno {
    width: 40px;
    border-radius: 25%;
}

/* Empleado */
.row-empleado {
    height: 91.5vh;
}

/* ordenes */
.row-ordenes {
    border-radius: 10px;
}

.btn-ordenes {
    width: 35px;
    border-radius: 30%;
}

/* Inventario */
.btn-inventario {
    width: 40px;
    border-radius: 25%;
}