// Paleta de colores del logo TECNM
$geyser: #d4dae3;
$chathams-blue: #14346c;
$lynch: #677d9e;
$bali-hai: #8494b4;

// Reset de estilos
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Estilos propios
.border-style {
    border-radius: 10px;
}

.btn-style {
    width: 40px;
    border-radius: 25%;
}

.height-style {
    height: 91.5vh;
    max-height: 91.5vh;
}

.card-style {
    border: 1px solid #ccc;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transform: translateY(-5px);
    }
}

// Colores personalizados
.background-primary { background-color: $chathams-blue; }

.background-secondary { background-color: $geyser; }

.background-tertiary { background-color: $lynch; }

.background-quaternary { background-color: $bali-hai; }

.color-primary { color: $chathams-blue; }

.color-secondary { color: $geyser; }

.color-tertiary { color: $lynch; }

.color-quaternary { color: $bali-hai; }

// Index
.body-index {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-login { height: 100vh; }