// Paleta de colores del logo TECNM
$geyser: #d4dae3;
$chathams-blue: #14346c;
$lynch: #677d9e;
$bali-hai: #8494b4;

// Colores personalizados
.background-primary { background-color: $chathams-blue; }

.background-secondary { background-color: $geyser; }

.background-tertiary { background-color: $lynch; }

.background-quaternary { background-color: $bali-hai; }

.color-primary { color: $chathams-blue; }

.color-secondary { color: $geyser; }

.color-tertiary { color: $lynch; }

.color-quaternary { color: $bali-hai; }