<!-- Plantilla para mostrar los datos de la orden en Orders -->
<div class="row bg-white p-2 my-3 border-style" data-bs-toggle="collapse" data-bs-target="#details" aria-expanded="false" aria-controls="details">
    <div class="col-10 d-flex align-items-center my-2">
        <h4 class="me-2">{{nombre_orden}}</h4> <!-- Nombre de usuario -->
        <i class="fa-solid fa-caret-down me-2 fs-4"></i>
    </div>       
    <!-- Botones -->
    <div class="col-2 d-flex justify-content-center align-items-center gap-3 my-2">                                
        <button class="btn-success p-1 btn-style" title="Completada">
            <i class="fa-solid fa-check"></i>
        </button>
        <button class="btn-danger p-1 btn-style" title="Cancelada">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>   
    <!-- Collapse -->
    <div class="col-12">
        <div class="collapse" id="details">
            <div class="row d-flex justify-content-evenly align-items-center text-center">                                      
                <div class="col-3">
                    <h6>Cantidad</h6>
                </div>
                <div class="col-9">
                    <h6>Producto</h6>
                </div>               
            </div>
        </div>
    </div>
</div>